---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Beautiful animations ready to use for your project."
    />
    <meta name="keywords" content="Tailwind, animations, plugin" />
    <meta name="author" content="Diego Salas Martínez" />

    <meta name="og:title" content="Tailwind Animations" />
    <meta
      name="og:description"
      content="Beautiful animations ready to use for your project."
    />
    <meta name="og:image" content="/og-image.jpg" />
    <meta property="og:type" content="website" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="theme-color" content="#0099ff" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative text-black dark:text-white">
    <div
      class="absolute inset-0 -z-10 h-full w-full bg-white bg-degraded bg-hero dark:bg-zinc-900"
    >
      <div
        class="absolute left-0 right-0 top-0 -z-10 m-auto h-80 w-80 rounded-full bg-sky-400 dark:bg-sky-500/70 opacity-20 blur-[100px]"
      >
      </div>
    </div>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }

  body {
    color: #212121;
  }

  @media (prefers-color-scheme: dark) {
    body {
      color: rgba(255, 255, 255, 0.9);
    }
  }
</style>
