---
import Layout from "../layouts/Layout.astro"
import theme from "../../../src/theme"
import Installation from "@/components/Installation.astro"
import Header from "@/components/Header.astro"
import Title from "@/components/Title.astro"
import Footer from "@/components/Footer.astro"

const animations = Object.entries(theme.animation).sort((a, b) =>
  a[0].localeCompare(b[0])
)
---

<Layout title="Tailwind CSS Animations">
  <main class="w-4/5 max-w-6xl mx-auto text-center">
    <Header />
    <Title />
    <Installation />

    <section
      class="animate-fade-in-up animate-delay-800 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 my-12"
    >
      {
        animations.map(([name]) => (
          <article
            class:list={[
              "flex flex-col items-center px-4 py-2 border-gray-200 border-[1px] rounded-lg",
              "hover:border-gray-600 hover:cursor-pointer transition duration-300",
              "dark:border-gray-600 dark:hover:border-gray-400"
            ]}
            data-animation={name}
          >
            <p class="text-sm font-normal">{name}</p>
            <div class="my-2 rounded-lg shadow-inner bg-gray-100 shadow-gray-400/50 h-20 w-20" />
          </article>
        ))
      }
    </section>

    <Footer />
  </main>
</Layout>

<script is:inline>
  const $articles = document.querySelectorAll("article")

  $articles.forEach(($article) => {
    const animationKey = $article.getAttribute("data-animation")
    const animationClass = `animate-${animationKey}`

    const $box = $article.querySelector("div")
    if (!$box) return

    $article.addEventListener("mouseenter", () => {
      $box.classList.add(animationClass)
      setTimeout(() => $box.classList.remove(animationClass), 1000)
    })
  })
</script>
