<div class="animate-fade-in-down animate-delay-500">
  <h1 class="text-5xl font-bold">
    <p>Tailwind CSS Animations</p>
  </h1>
  <p class="mt-2">Beautiful animations ready to use for your project.</p>
</div>
